{% extends 'base_accounts.html' %}

{% block title %}
Password Changed!
{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-lg-4 col-md-6 col-sm-8">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title">Password changed!</h3>
                <div class="alert alert-success" role="alert">
                    You have successfully changed your password! You may now proceed to login.
                </div>
                <a href="{% url 'login' %}" class="btn btn-block btn-secondary">Return to login</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
